#define COMBO(NAME, BINDINGS, KEYPOS, MS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    timeout-ms = <MS>; \
  };

/ {
    combos {
        compatible = "zmk,combos";
        COMBO(esc, &kp ESC, 0 1, 50)
    };
};
