/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define WORKMAN 0
#define NAV 1
#define NUM 2
#define SYM 3


&mt {
  flavor = "tap-preferred";
  tapping_term_ms = <185>;
};

/ {

    behaviors {
        sqt_dqt: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <165>;
            bindings = <&kp SQT>, <&kp DQT>;
        };
        q_esc: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <165>;
            bindings = <&kp Q>, <&kp ESC>;
        };
    };

    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                  &q_esc       &kp D         &kp R        &kp W        &kp T         &kp J        &kp F        &kp U           &kp P          &kp SCLN
                  &mt LCTRL A  &mt LSHIFT S  &mt LALT H   &mt LGUI T   &kp G         &kp H        &mt RGUI N   &mt RALT E      &mt RSHIFT O   &mt RCTRL I
                  &kp Z        &kp X         &kp M        &kp C        &kp V         &kp K        &kp L        &kp CMMA        &kp DOT        &kp FSLH
                                                      &kp TAB    &lt NAV SPC         &lt SYM RET  &lt NUM BSPC
                >;
        };

        nav_layer {
            bindings = <
                &bt BT_CLR   &trans &trans &trans      &ext_power EP_TOG    &trans      &kp LBRC   &kp RBRC &kp LPAR    &kp RPAR
                &bt BT_SEL 0 &trans &trans &trans      &trans               &kp LEFT    &kp DOWN   &kp UP   &kp RIGHT   &sqt_dqt 
                &bt BT_SEL 1 &trans &trans &bootloader &reset               &trans      &kp LBKT   &kp RBKT &trans      &trans
                                           &trans      &trans               &kp ESC     &trans
                >;
        };

        num_layer {
            bindings = <
                &caps_word &kp N7 &kp N8 &kp N9 &kp ESC               &trans    &trans   &trans &trans    &trans
                &kp SQT    &kp N4 &kp N5 &kp N6 &kp KP_EQUAL          &trans    &trans   &trans &trans    &trans
                &kp GRAVE  &kp N1 &kp N2 &kp N3 &kp BSLH              &trans    &trans   &trans &trans    &trans
                                         &kp N0 &kp KP_MINUS          &trans    &trans
                >;
       };

       sym_layer {
            bindings = <
                &caps_word &kp AMPS &kp STAR  &kp LPAR  &kp ESC               &trans    &trans        &trans &trans    &trans
                &kp DQT    &kp DLLR &kp PRCNT &kp CARET &kp KP_PLUS           &trans    &trans        &trans &trans    &trans
                &kp TILDE  &kp EXCL &kp AT    &kp HASH  &kp PIPE              &reset    &bootloader   &trans &trans    &trans
                                             &kp RPAR  &kp UNDER              &trans    &trans
                >;
        };
    };
};
